.NexaThin {
	font-family: "Nexa-Thin";
}.NexaLight {
	font-family: "Nexa-Light";
}.NexaBook {
	font-family: "Nexa-Book";
}.NexaRegular {
	font-family: "Nexa-Regular";
}.NexaBold {
	font-family: "Nexa-Bold";
}.NexaExtraBold {
	font-family: "Nexa-ExtraBold";
}.NexaHeavy {
	font-family: "Nexa-Heavy";
}

body { 
	font-family: "Nexa-Regular"!important; 
	color: #414042;
}

h1, h2, h3, h4, h5 {
	font-family: "Nexa-ExtraBold"!important;
}

.navbar-expand-md.navbar-light .nav-item.active:after, .navbar-expand-md .navbar-light .nav-item.active:after {
    border: 0 solid #05C46B!important;
}

.btn-primary, .btn-success, .btn-info, .btn-danger, .btn-light, .btn-dark, .btn-blue, .btn-azure, .btn-indigo, .btn-purple, .btn-pink, .btn-red, .btn-orange, .btn-yellow, .btn-lime, .btn-green, .btn-teal, .btn-cyan, .btn-facebook, .btn-twitter, .btn-google, .btn-youtube, .btn-vimeo, .btn-dribbble, .btn-github, .btn-instagram, .btn-pinterest, .btn-vk, .btn-rss, .btn-flickr, .btn-bitbucket, .btn-tabler {
    background-color: #23DD87!important;
    color: white!important;
}

.btn-primary:hover, .btn-success:hover, .btn-info:hover, .btn-danger:hover, .btn-light:hover, .btn-dark:hover, .btn-blue:hover, .btn-azure:hover, .btn-indigo:hover, .btn-purple:hover, .btn-pink:hover, .btn-red:hover, .btn-orange:hover, .btn-yellow:hover, .btn-lime:hover, .btn-green:hover, .btn-teal:hover, .btn-cyan:hover, .btn-facebook:hover, .btn-twitter:hover, .btn-google:hover, .btn-youtube:hover, .btn-vimeo:hover, .btn-dribbble:hover, .btn-github:hover, .btn-instagram:hover, .btn-pinterest:hover, .btn-vk:hover, .btn-rss:hover, .btn-flickr:hover, .btn-bitbucket:hover, .btn-tabler:hover {
    color: white!important;
    background: #05C46B!important;
    border-color: transparent;
}

.btn.btn-outline-primary {
    color: #23DD87;
    background-color: #ffffff;
    border-color: #23DD87 !important;
    padding: .45rem 0.8rem;
    font-size: 0.875rem;
    &:hover {
        color: #ffffff;
        background-color: #1EC46B;
        border-color: #07DD87;
    }
}

.btn {
    border-color: rgb(101 109 119 / 0%)!important;
}

.copy-btn.btn {
	border-color: rgba(101, 109, 119, 0.24)!important;
}

.imgbob-home-text .icon {
    color: #e4e4e4!important;
}

.imgbob-home-text .imgbob-big-title, .imgbob-home-text .imgbob-description {
    text-shadow: 0px 0px 0px rgb(0 0 0 / 0%);
}

.form-control:focus {
    border-color: #1EC46B!important;
}

.form-label-description a {
    color: #23DD87!important;
}

.form-label-description a:hover {
    color: #05C46B!important;
}

.text-center.text-muted.mt-3 a {
	color: #23DD87!important;
}

.text-center.text-muted.mt-3 a:hover {
	color: #05C46B!important;
}

.navbar-brand.navbar-brand-autodark.d-none-navbar-horizontal.me-md-3 {
    margin-right: 0 !important;
}

.form-check-input:checked {
    background-color: #2d6071;
    border-color: rgba(101, 109, 119, 0.24);
}

#share {
	display: none!important;
}

.image_inputs {
    background: #FAFAFA;
    padding: 25px;
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: #05C46B;
}

.bg-primary {
    background-color: #05C46B !important;
}

.remove-icon {
    color: #414042!important;
}

.imgbob-main-upload-section .imgbob-uploder-place h3 span {
    color: #05C46B!important;
    text-decoration: underline;
}

.croppie-container .cr-boundary {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    z-index: 1;
    width: 100%!important;
    /*height: 582px!important;*/
    height: 80vh !important;
}

.card.presets-box {
    box-shadow: rgb(35 46 60 / 4%) 0 2px 0 0;
    border: 0px solid rgba(101, 109, 119, 0.16);
    background: #fafafa;
}

.card.presets-box .card-body {
	text-align: left!important;
	padding: 1.4rem;
}

.tagin-tag {
    border-radius: .25rem;
    color: #fff;
    border: 0;
    padding: 0 6px;
    display: inline-flex;
    align-items: center;
    height: 26px;
    margin: 4px;
    font-weight: 300;
    background-color: #6c757d;
    transition: transform .1s;
	font-size: 10px;
    padding-top: 3px;
}

.gallery-image {
    object-fit: cover!important;
}

.navbar-brand-image {
    display: block;
    height: auto;
    width: 160px!important;
}

.footer {
    display: none!important;
}

.tagin-tag-remove {
    margin-left: 6px;
}

.tagin-wrapper {
    padding: 6px 10px!important;
}

.tagin-input:not(.tagin-input-hidden) {
    width: auto!important;
    min-width: 4px;
}

a.btn-copy:hover {
    text-decoration: none!important;
}

.form-select {
    height: 42px!important;
}

.imgbob-home-text .imgbob-strat-uploading {
    text-transform: capitalize!important;
    letter-spacing: 0px!important;
}

.position-relative {
    position: absolute !important;
    color: transparent;
    border-color: transparent;
    background: transparent;
    left: 0;
}

a:hover {
    text-decoration: none!important;
}

.d-flex.align-items-center div h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 234px;
}

.page-item.active .page-link {
    background-color: #05C46B;
    border-color: #05C46B;
}

.pagination {
    .page-link {
        &:hover {
            color: #07c46c;
        }
    }
}

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    border-radius: 3px;
}

.select2-dropdown {
    background-color: white;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051;
    top: -1px;
    border: 1px solid #dbdcde;
    color: #868b90;
}


.select2-container--default {
    height: 42px !important;
    
    padding: 0.4375rem 1.75rem 0.4375rem 0;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4285714;
    color: #232e3c;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid rgba(101, 109, 119, 0.24);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23dadcde' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");

    .select2-selection--single {
        border: none !important;

        .select2-selection__rendered {
            color: #444;
            line-height: 28px;
            padding-left: 12px !important;
        }

        .select2-selection__arrow {
            display: none;
        }
    }

    .select2-search--dropdown {
        .select2-search__field {
            outline: none;
            height: 36px;
        }
    }

    &.select2-container--disabled {
        color: #a0a6ae;
        background-color: #f0f2f6 !important;

        .select2-selection--single {
            background-color: #f0f2f6 !important;
        }

        .select2-selection__rendered {
            color: #cbcbcb !important;
        }
    }
}


.tags-container {

    ul {
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 0;
    }
    .item-tag {
        display: inline-block;
        padding: 4px 12px;
        background: #f4f6fb;
        margin: 0 5px;
        border-radius: 100px;
        border: 1px solid rgba(101, 109, 119, 0.24);
        margin-bottom: 6px;
        font-size: 13px;
        color: #868b8f;
        text-transform: lowercase;

        &:hover {
            color: #07c46c;
        }

        &.active {
            color: #ffffff;
            background-color: #07c46c;
        }
    }
}

.hasTooltip {
    position: relative;
    display: inline-block;
    // border-bottom: 1px dotted black;

    .tiptext {
        visibility: hidden;
        height: 32px;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        text-align: center;
        border-radius: 8px;
        padding: 6px 8px;
        position: absolute;
        z-index: 1;
        top: 5px;
        right: 5px;
    }

    &:hover {
        .tiptext {
            visibility: visible;
        }
    }
}

.btn-tooltip {
    .tiptextBtn {
        visibility: hidden;
        background-color: rgb(127 127 127 / 84%);
        color: #fff;
        text-align: center;
        border-radius: 8px;
        padding: 3px 4px;
        position: absolute;
        z-index: 1;
        top: -25px;
        margin-left: -16px;
        font-size: 0.8em;
    }
    &:hover {
        .tiptextBtn {
            visibility: visible;
        }
    }
}

.avatar-image {
    object-fit: cover;
}
